#kaocha/v1
        {:plugins [:kaocha.plugin/hooks]
         :reporter kaocha.report/documentation
         :tests [{:type :kaocha.type/cljs2
                  :shadow/build-id     :test-kaocha
                  :browse-url          "http://localhost:8000"
                  :kaocha.hooks/before [shadow-cljs-hook/before-hook]
                  :id :cljs}
                 {:type :kaocha.type/clojure.test
                  :test-paths ["test"]
                  :src-paths ["src/main"]
                  :id :clj}]}
