{:version      "0.1.0"
 :description  "Backend"
 :url          "i-dont-have-one-yet"
 :license      {:name "Eclipse Public License - v 2.0"
                :url  "http://www.eclipse.org/legal/epl-v20.html"}
 :paths
 ["src/main"
  "src/resources"
  "src/test"
  "src/dev"
  "classes"]

 :repl-options {:timeout 180000
                :init-ns user
                :init    (go)}

 :deps
 {org.clojure/clojure     {:mvn/version "1.11.0"}
  integrant/integrant     {:mvn/version "0.8.1"}
  clj-http/clj-http       {:mvn/version "3.12.3"}
  ring/ring               {:mvn/version "1.8.1"}
  ring-cors/ring-cors     {:mvn/version "0.1.13"}
  metosin/reitit          {:mvn/version "0.7.0-alpha5"}
  metosin/ring-swagger-ui {:mvn/version "5.0.0-alpha.0"}
  ring/ring-jetty-adapter {:mvn/version "1.7.1"}
  metosin/malli           {:mvn/version "0.12.0"}
  metosin/jsonista        {:mvn/version "0.2.6"}
  ring/ring-mock          {:mvn/version "0.4.0"}

  criterium/criterium     {:mvn/version "0.4.6"}
  citius/citius           {:mvn/version "0.2.4"}
  environ/environ         {:mvn/version "1.2.0"}
  org.slf4j/slf4j-nop     {:mvn/version "1.7.25"}}

 :aliases
 {:dev
  {:extra-paths ["src/dev"]
   :extra-deps  {ring/ring-mock {:mvn/version "0.4.0"}
                 integrant/repl {:mvn/version "0.3.3"}}
   :main-opts   ["-e" "(require,'user)"
                 "-e" "(in-ns,'user)"]}

  :test
  {:extra-paths ["src/test"]
   :main-opts   ["-m" "kaocha.runner"]
   :jvm-opts    ["-Xmx512m"]
   :extra-deps  {lambdaisland/kaocha {:mvn/version "1.70.1086"}}}}}